################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MoneyBase.Support.Chat.APIs/FileContentIndex
/MoneyBase.Support.Application/bin/Debug/net8.0
/MoneyBase.Support.Application/obj
/MoneyBase.Support.Chat.APIs/bin/Debug/net8.0
/MoneyBase.Support.Chat.APIs/obj
/MoneyBase.Support.Domain/bin/Debug/net8.0
/MoneyBase.Support.Domain/obj
/MoneyBase.Support.Infrastructure/bin/Debug/net8.0
/MoneyBase.Support.Infrastructure/obj
/MoneyBase.Support.Shared/bin/Debug/net8.0
/MoneyBase.Support.Shared/obj
/MoneyBase.UnitTests/bin/Debug/net8.0
/MoneyBase.UnitTests/obj
/.vs/MoneyBase.Support.Chat.APIs/v17
/.vs/ProjectEvaluation
/.vs/MoneyBase.Support.Chat.APIs/config
/.vs/MoneyBase.Support.Chat.APIs/DesignTimeBuild/.dtbcache.v2
